<h1>All Doctors</h1>

<% if @doctors.any?() %>
<h3>Here are your doctors:</h3>
<ul>
  <% @doctors.each do |doctor| %>
  <li><a href="/doctors/<%= doctor.id %>"><%= doctor.name %>, <%= doctor.specialty %></a></li>
  <% end %>
</ul>

<% else %>

<p>There are no doctors yet. Add a doctor <a href="/doctors/new">here.</a></p>

<% end %>

<a href="javascript:history.back()">Go Back</a>
<a href="/">Return Home</a>
