
<h2>Add A New Doctor</h2>
<form action="/doctors" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name">
  <label for="specialty">Specialty:</label>
  <input type="text" name="specialty">
  <button type="submit">Add Doctor</button>
</form>
